<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Овощи и фрукты - интернет-магазин{% endblock %}</title>
</head>
<body>
<header>
    <h1>Интернет-магазин "Овощи и фрукты"</h1>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog/">Каталог</a></li>
            <li><a href="/about_me/">О нас</a></li>
            <li><a href="/orders/">Проверить ваши заказы по id клиента</a></li>
            <li><a href="/edit_product/">Изменить товар по id продукта</a></li>
            <li><a href="/admin/">Административная панель</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    <p>Добро пожаловать в интернет-магазин "Овощи и фрукты"! У нас вы найдете широкий ассортимент свежих и качественных овощей,
        выращенных на лучших фермах.</p>
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 Интернет-магазин "Овощи". Все права защищены.</p>
</footer>
</body>
</html>