{% extends 'base.html' %}

{% block content %}
    <h2>Список заказов клиента по имени {{ client.name }} :</h2>
    <table>
        <h3>Заказы за неделю:</h3>
         {% for order in weekly_orders %}
            <tr>
                <td>{{ order.order_date }}</td>
                <td>{{ order.total_amount }}</td>
                <td>
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
         {% endfor %}
    </table>
    <table>
        <h3>Заказы за месяц:</h3>
         {% for order in monthly_orders %}
            <tr>
                <td>{{ order.order_date }}</td>
                <td>{{ order.total_amount }}</td>
                <td>
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
         {% endfor %}
    </table>
    <table>
        <h3>Заказы за год:</h3>
         {% for order in orders_per_year %}
            <tr>
                <td>{{ order.order_date }}</td>
                <td>{{ order.total_amount }}</td>
                <td>
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
         {% endfor %}
    </table>
{% endblock %}